<!doctype html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{% static 'css/map.css' %}" />
  <script src="https://api-maps.yandex.ru/2.1/?apikey=8c2cdcb1-d99b-4933-bae4-58cac30e0d02&lang=ru_RU" type="text/javascript">
  </script>
</head>
<body>
  <div class="map" id="map" style="width: 100%; height: 100%; position: fixed; left: 0%; top: 0%;"></div>

  <header class="header">
    <div class="container">
        <div class="header__body">
            <button class="header__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__menu">
                <ul class="header__list">
                    <li><a href="cabinet.html">Личный кабинет</a></li>
                    <li><a href="manual.html">Руководство</a></li>
                    <li><a href="map.html">Карта</a></li>
                </ul>
                <ul class="footer_list">
                    <li><a href="cabinet.html" class='email'>mail@yandex.ru</a></li>
                    <li><a href="signIn.html" class='log_out'>Выйти из аккаунта</a></li>
                </ul>
            </div>
        </div>
    </div>
  </header>

  <select class="routes" id="routes">
    <option value="" selected>--Пожалуйста, выберите маршрут--</option>
    <option value="RED_LINE" >Красная линия</option>
    <option value="SMALL_LINE">Малый режский маршрут</option>
    <option value="LARGE_LINE">Большой режский маршрут</option>
  </select>

  <script src="{% static 'scripts/open-menu.js' %}"></script>
  <script src="{% static 'scripts/map-constructor.js' %}"></script>
</body>
</html>