{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{% static 'css/map.css' %}" />
  <script src="https://api-maps.yandex.ru/2.1/?apikey=8c2cdcb1-d99b-4933-bae4-58cac30e0d02&lang=ru_RU" type="text/javascript">
  </script>
</head>
<body>
  <div id="map" style="width: 100%; height: 100%; position: fixed; left: 0%; top: 0%;"></div>
  <header class="header">
    <div class="container">
        <div class="header__body">
            <button class="header__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__menu">
                <ul class="header__list">
                    <li><a href="/cabinet/">Личный кабинет</a></li>
                    <li><a href="/manual/">Руководство</a></li>
                    <li><a href="/map/">Карта</a></li>
                </ul>
                <ul class="footer_list">
                    <li>{{email}}</li>
                    <li><a href="/sign/logout" class='log_out'>{{statusLabel}}</a></li>
                </ul>
            </div>
        </div>
    </div>
  </header>
  <script src="{% static 'scripts/open-menu.js' %}"></script>
  <script src="{% static 'scripts/map-constructor.js' %}"></script>
</body>
</html>