html {
    background: url(../pictures/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1 {
    cursor: help;
    font-size: 24px;
}

form {
    background: url(../pictures/form.png) no-repeat center center;
    margin: auto auto;
    width: 480px;
    height: 538px;
    border-radius: 40px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.group {
    margin: 40px;
    padding: 5px;
}

input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border-color: black;
}

input:focus {
    outline: none !important;
    border: 2px solid #3CA0D0;
}

input:placeholder-shown {
    padding-left: 10px;
    font-size: 20px;
    color: #38383880;
}

input::content{
    padding-left: 10px;
    font-size: 20px;
}

button {
    margin-top: 90px;
    cursor: pointer;
    border: 2px solid transparent;
    height: 45px;
    width: 240px;
    background: none;
    border-width: 3px;
    border-radius: 15px;
    border-color: #4B5CD7;
    color: #4B5CD7;
    font-size: 18px;
}

button:hover {
    background-color: rgba(75, 92, 215, 0.2);
}

button:active {
    box-shadow: inset 0 2px 6px;
}

.sign-btn {
    margin: 10px;
}

a:active, /* активная/посещенная ссылка */
a {
    text-decoration: none;
    color: #4B5CD7;
    font-size: 18px;
}

a:hover {
    text-shadow: 0 0 1.2px;
    font-size: 18px;
}