<!doctype html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Кабинет</title>
    <!--css/cabinet.css-->
    <!--static/css/cabinet.css-->
  <link rel="stylesheet" href="{% static 'CSS/cabinet.css' %}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="container">
        <div class="header__body">
            <button class="header__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__menu">
                <ul class="header__list">
                    <li><a href="/cabinet/">Личный кабинет</a></li>
                    <li><a href="/manual/">Руководство</a></li>
                    <li><a href="/map/">Карта</a></li>
                </ul>
                <ul class="footer_list">
                    <li>{{email}}</li>
                    <li><a href="/sign/logout" class='log_out'>{{statusLabel}}</a></li>
                </ul>
            </div>
        </div>
    </div>
  </header>
  <main>
    <div class="media-feed">
      <h1>Городские опросы</h1>
      <p class="page-description">Дорогие режане и гости нашего города, приглашаем вас поучавствовать в опросах, результаты которых напрямую повлияют на жизнь Режа.</p>
      <ul class="questionnaire">
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>Достаточно ли в городе спортивных площадок?</h2>
          <p class="questionnaire-description">Спорт –это неотъемлемая часть общественной жизни, один из элементов системы ценностей современной культуры.</p>
          <a class="questionnaire-link" target="_blank" href="https://vk.com/away.php?to=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSeCIiu2pNbcADbx3ox75FpvgHTKgk9KqXbBgOkrfCmMcPq7eQ%2Fviewform&el=snippet">Пройти опрос</a>
        </li>
        <hr>
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>Выбираем лавки для благоустройства набережной.</h2>
          <p class="questionnaire-description">Есть разные типы лавочек. Какие, на ваш взгляд, самые удобные?.</p>
          <a class="questionnaire-link" target="_blank" href="https://vk.com/away.php?to=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSdh_Xqu-C1UmaHDqjYyI4CSqjS_m2sShKNZVs6mOzdQyPoYIQ%2Fviewform&el=snippet">Пройти опрос</a>
        </li>
        <hr>
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>Как вы оцените качество дорог в нашем городе?</h2>
          <p class="questionnaire-description">Нас интересует ваше мнение касательно качества дорог в городе. Результаты опроса будут учитываться при планировании бюджета.</p>
          <a class="questionnaire-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScGBT4I2_07x0Klhd6Jez6pRK-yp6KQ8GfoFoUOZKYR1MMnwQ/viewform">Пройти опрос</a>
        </li>
        <hr>
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>В нашем городе есть набережная. Как вы оцените её благоустройство?</h2>
          <p class="questionnaire-description">В нашем городе есть набережная. Оцените пожалуйста качество и удобство вашей набережной.</p>
          <a class="questionnaire-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfhaGI7WF2GpXnZ3iID5TOKpiYclZ2WpJhVhus4_bXcOMD46g/viewform">Пройти опрос</a>
        </li>
        <hr>
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>Были ли вами замечены дороги в ненадлежащем состоянии?</h2>
          <p class="questionnaire-description">Если таковые есть, пройдите пожалуйста данный опрос и укажите, какие именно. Администрация города сделает всё, чтобы как можно скорее улучшить их состояние.</p>
          <a class="questionnaire-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfMZR7EIMPkVRJ8USNumJK8iymUD9H8dVimTqLeFsh3AJtSOw/viewform">Пройти опрос</a>
        </li>
        <hr>
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>Достаточен ли уровень освещенности?</h2>
          <p class="questionnaire-description">В это время года рано темнеет и вопрос об освещенности города стоит как никогда остро. Как вы оцените уровень освещенности в нашем городе в темное время суток?</p>
          <a class="questionnaire-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSef4nxW9x-PcFKxuxx2GyRg3AKtJhA3-AA4tmVLt_kd8NdJuQ/viewform">Пройти опрос</a>
        </li>
        <hr>
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>Уделим внимание экологической ситуации в городе.</h2>
          <p class="questionnaire-description">Из всех факторов окружающей среды воздух наиболее значим для здоровья человека. Оцените, пожалуйста, чистоту воздуха в нашем городе.</p>
          <a class="questionnaire-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeIlI_tHXq9fN3d8fqaZK--tRDrL77H2Bst-ahGdKfZ1Av4ZQ/viewform">Пройти опрос</a>
        </li>
        <hr>
        <li class="questionnaire-component">
          <h2><span class="dot">&#8226;</span>Вода - неотъемлемая часть нас.</h2>
          <p class="questionnaire-description">Оцените пожалуйста чистоту и качество питьевой воды в нашем городе.</p>
          <a class="questionnaire-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfYnp-8qq0Z3JP_D6RpCyS9yjijbm0-BD-2Ura2Rta2v4q1ew/viewform">Пройти опрос</a>
        </li>
      </ul>
    </div>
  <template id="questionnaire-template">
    <li class="questionnaire-component">
      <h2></h2>
      <p class="questionnaire-description"></p>
      <a class="questionnaire-link"></a>
    </li>
  </template>
  </main>
  <script src="{% static 'scripts/open-menu.js' %}"></script>
</body>
</html>